@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
}

.single-box{
    height: 400px;
    position: relative;
    background-color:#222;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.single-box:after{
    content:"";
    position: absolute;
    top:-2px;
    left: -2px;
    bottom:-2px;
    right:-2px;
    background: #EECDA3;
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
    background: linear-gradient(to right, #EF629F, #EECDA3);
    transform:skew(2deg, 2deg);
    z-index:-1;
}
.single-box:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background-color:#333;
    z-index: 0;
}
.box-content{
    position: relative;
    top:30px;
    padding:20px;
}
.box-content h2{
    position: absolute;
    top:-40px;
    right: 20px;
    margin:0;
    padding:0;
    font-size:10em;
    color:rgba(255,255,255,0.1);
    transition: 0.5s;
    font-weight: 700;
}
.single-box:hover .box-content h2{
    top:-100px;
}
.box-content a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding:10px 20px;
    transition: 0.5s;
    border:1px solid #fff;
    color:#fff;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.single-box:hover .box-content a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}